<div class="mt-between-sections">
  <div class="container d-flex justify-content-center w-100">
    <div class="footer-content d-flex align-items-center flex-column">
      <div class="footer-socials d-flex gap-3 mb-4">
        <a href="#" target="_blank">
          <ion-icon name="logo-facebook"></ion-icon>
        </a>
        <a href="#" target="_blank">
          <ion-icon name="logo-twitter"></ion-icon>
        </a>
        <a href="#" target="_blank">
          <ion-icon name="logo-instagram"></ion-icon>
        </a>
      </div>

      <div
        class="footer-links d-flex flex-wrap justify-content-between gap-2 mb-4"
      >
        <a i18n href="#">About</a>
        <a i18n href="#">Contact Us</a>
        <a i18n href="#">Delivery</a>
        <a i18n href="#">Terms Of Use</a>
        <a i18n href="#">Privacy Policy</a>
      </div>

      <div class="footer-copyright">
        <p>&copy; 2022 Dimitar Radulov</p>
      </div>
    </div>
  </div>
</div>
