<div
  class="border border-dark product-image"
  data-cy="single-product-image"
  [attr.data-id]="productData.id"
  [style.background]="
    'linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(' +
    productData.imagePath +
    ') no-repeat center/cover'
  "
  routerLink="/product/{{ productData.id }}"
></div>
<div class="d-flex justify-content-between mt-2 mb-3">
  <span class="text-truncate product-name">{{ productData.name }}</span>
  <span class="fw-medium">{{ productData.price | currency }}</span>
</div>
<div class="text-center">
  <button i18n class="btn btn-outline-dark" (click)="onAddToCart()">
    Add To Cart
  </button>
</div>
