<div class="row justify-content-center">
  <div class="col-md-6">
    <h2 i18n class="h4 text-center mb-4 heading-color">Add Product</h2>
    <app-error-alert *ngIf="error" [errorMsg]="error"></app-error-alert>
    <product-form
      *ngIf="!(loadingService.isLoading | async); else loading"
      [action-type]="formActionType.Add"
      (onSubmit)="onAdd($event)"
    ></product-form>
    <ng-template #loading>
      <div class="text-center">
        <app-loading-spinner></app-loading-spinner>
      </div>
    </ng-template>
  </div>
</div>
